name = "cf-symbol-proxy"
main = "src/index.js"
compatibility_date = "2024-01-01"

[triggers]
routes = [
  { pattern = "symbols.tokisaki.top/*", custom_domain = true }
]

[vars]
SYMBOL_SERVER = "https://msdl.microsoft.com/download/symbols"
